*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorTextos: #023047;
    --colorBotones: #FFB703;
    --colorFondo: #8ECAE6;
    --paddingSecciones:60px 0;
    --marginElementos:40px;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Nerko One', cursive; */
    color: var(--colorTextos);
    background-image: url(../imagenes/vector-sector-sanidad.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    /* background: #8ECAE6; */ /*lo uso para ver los contenedores*/
    width: 90%;
    max-width: 1100px;
    margin:auto;
    overflow: hidden;
    padding: var(--paddingSecciones);
}

/* MENU */
.menu-navegacion{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    font-size: 20px;
    font-family: 'Nerko One', cursive;
}

.logo{
    height: 200px;
    
}
.logo img{
    display: block;
    height: 100%;
}

/*formato para el menú de navegación de la página. */

#menu {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    font-size: 20px;
    font-family: 'Nerko One', cursive;
}
#menu>ul>li {
    list-style: none;
    display: inline-block;
    padding: 10px 0;
    border: 2px solid;
    border-radius: 10px;
    background: var(--colorBotones);
    color:var(--colorTextos);
    position: relative;
}

#menu>ul>li a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
}
#menu>ul>li>ul {
    display: none;
    
}
#menu>ul>li>ul>li {
    position: relative;
    background: var(--colorFondo);
    color: var(--colorBotones);
    padding: 10px 0;
    border: 2px solid;
    border-radius: 10px;
}
#menu>ul>li>ul>li a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: underline;
    text-align: center;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Contenedor-principal */

.contenedor-principal{
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/enfermera\ _con_señor_sentado_grande.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
}

.texto-principal{
    font-family: 'Nerko One', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.texto-principal h1{
    font-size: 100px;
    letter-spacing: 6px;
    color: var(--colorTextos);
    text-align: center;
    animation-duration: 1s;
    animation-name: slidein;
}

.texto-principal h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--colorBotones);
    letter-spacing: 6px;
    
}

.texto-principal a{
    padding: 5px 10px;
    margin: 10px 0 10px 0;
    /* color: var(--colorFondo); */ /*lo uso para ver los contenedores*/
    text-decoration: none;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    background: var(--colorBotones);
    color:var(--colorTextos);
    font-size: 30px;
    display: inline-block;
    
}

.texto-principal a:hover{
    text-decoration:underline;
    color: var(--colorFondo);
}

.titulo-seccion{
    text-align: center;
    font-family: 'Nerko One', cursive;
    font-size: 60px;
    padding: 00px;
    /* background: crimson; */ /*lo uso para ver los contenedores*/
}

/* Formato para la Galeria con javascript */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Esconde las imagenes por defecto */
    .mySlides {
    display: none;
}

/* configuramos los botones de previa y siguiente */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* colocamos el botón de next a la derecha */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Cuando pasamos el ratón hacemos que el fondo del boton cambie de color */
.prev:hover, .next:hover {
    background-color: #ec0b0b83;
}

/* Formato del numero de imagen*/
.numbertext {
    background: #ec0b0b83;
    color: #fff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Formato del menu de selección de imagenes */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #ec0b0b83;
}

/* animación de sombreado para el cambio */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3.5s;
    animation-name: fade;
    animation-duration: 6.5s;
}

/* Contenedor secundario Conócenos más */
.contenedor-secundario{
    /* background: chartreuse; */ /*lo uso para ver los contenedores*/
    display: flex;
    font-size: 20px;
    width: 90%;
    max-width: 1100px;
    height: auto;
    justify-content: center;
    margin: auto;
    padding: 20px;
    flex-wrap: wrap;
}

.texto-secundario1{
    flex: 30%;
    /* background: #8ECAE6; */ /*lo uso para ver los contenedores*/
    height: auto;
    border: 2px solid;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    box-shadow: 6px 6px 6px 6px  #343759;
    padding: 10px;
    display: flex;
    font-weight:bold;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
}

.texto-secundario2{
    flex: 30%;
    /* background: #8ECAE6; */ /*lo uso para ver los contenedores*/
    height: auto;
    border: 2px solid;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    box-shadow: 6px 6px 6px 6px  #343759;
    padding: 10px;
    display: flex;
    font-weight:bold;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
}

.texto-secundario3{
    flex: 30%;
    /* background: #8ECAE6; */ /*lo uso para ver los contenedores*/
    height: auto;
    border: 2px solid;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    box-shadow: 6px 6px 6px 6px  #343759;
    padding: 10px;
    font-weight:bold;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
}

.textos{
    display: flex;
    /* background: chocolate; */ /*lo uso para ver los contenedores*/
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.texto-secundario1:hover{
    background: #FFB703;
    transition: .3s all;
    transform: scale(1.05);
    cursor: pointer;
}

.texto-secundario2:hover{
    background: #FFB703;
    transition: .3s all;
    transform: scale(1.05);
    cursor: pointer;
}

.texto-secundario3:hover{
    background: #FFB703;
    transition: .3s all;
    transform: scale(1.05);
    cursor: pointer;
}

.texto-secundario1 a{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    background: var(--colorBotones);
    color:var(--colorTextos);
    position: relative;
}

.texto-secundario2 a{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    background: var(--colorBotones);
    color:var(--colorTextos);
    position: relative;
}

.texto-secundario3 a{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    background: var(--colorBotones);
    color:var(--colorTextos);
    position: relative;
}

.texto-secundario1 a:hover{
    color: var(--colorTextos);
    background: #8ECAE6;
}

.texto-secundario2 a:hover{
    color: var(--colorTextos);
    background: #8ECAE6;
}

.texto-secundario3 a:hover{
    color: var(--colorTextos);
    background: #8ECAE6;
}

form{
	width: 250px;
	padding:16px;
	border-radius:10px;
	margin:auto;
    background-color:#FFB703;
    
}

form label{
	width:72px;
	font-weight:bold;
    display:inline-block;
    font-size: 15px;
    text-align: left;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
    display:inline-block;
    font-size: 15px;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
    background-color:var(--colorFondo);
    font-weight: bold;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize: vertical;
	resize:none;
	display:block;
}

/* Tienda */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    column-gap: 5px;
    row-gap: 5px;
}

/* Efectos y estilos aplicados con CSS al grid de productos */
.productos-lista {
    position: relative;
}

.productos-imagen {
    line-height: 0;
    overflow: hidden;
    align-self: center;
    justify-self: center;
    
}

.productos-imagen img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
}

.productos-titulo {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: #ffb8037e;
    color: white;
    
    /* posiciona el texto en el medio*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.productos-lista:hover .productos-titulo {
    opacity: 1;
    
}

.productos-lista:hover .productos-imagen img {
    filter: blur(2px);
    animation: shake 0.5s;
    animation-iteration-count: infinite;

}

.pie-pagina{
    display: flex;
    align-items: center;
    height: auto;
    font-size: 20px;
    font-family: 'Nerko One', cursive;
    margin-bottom: 30px;
    margin: auto;
    /* background: #6b1b60; */ /*lo uso para ver los contenedores*/
    flex-wrap: wrap;
    height: auto;
    background-image: url(../imagenes/enfermera\ _con_señor_sentado_grande.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

address{
    display: flex;
    /* background: chartreuse; */ /*lo uso para ver los contenedores*/
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
}


.direccion{
    color:#6b1b60;
    height: auto;
    display: inline-block;
    font-weight: bold;
    text-align: justify;
    letter-spacing: 2px;
    /* background:chocolate; */ /*lo uso para ver los contenedores*/
    display: flex;
    margin: auto;
}

.map{
    display: flex;
    margin: auto;
    align-items: center;
}
#mapa{
    width: 300px;
    height: 180px;
    border: 3px solid #000;
    margin: auto;

}
.redes-sociales{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* background: coral; */ /*lo uso para ver los contenedores*/
}

.redes-sociales li{
    list-style: none;
    display: inline-block;
}

.redes-sociales li a img{
    width: 50px;
}

/* Efecto de animación para el texto y botones del contenedor principal */
@keyframes slidein {
    from {
    margin-top: 100%;
    width: auto;
    }

    to {
    margin-bottom: 0%;
    width: 100%;
    }
}

/*Hace temblar las imagenes*/
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* comfiguro el efecto de opacidad que quiero en el slider*/
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
}

/* Esta sería la parte de codigo para conseguir la adaptabilidad de web */

@media screen and (max-width:1040px) {

    .contenedor-secundario{
        flex-direction: column;
        padding: 30px;
    }

    .texto-secundario1{
        width: auto;
        margin: 10px;
    }

    .texto-secundario2{
        width: auto;
        margin: 10px;
    }

    .texto-secundario3{
        width: auto;
        margin: 10px;
    }

    form{
        width: 350px;
    }
}

@media screen and (max-width:856px) {

    .menu-navegacion{
        height: auto;
    }

    .enlaces li{
        font-size: 80%;
        display: flex;
    }

    .texto-principal h1{
        font-size: 60px;
    }

    .contenedor-secundario{
        font-size: 20px;
        flex-direction: column;
    }

    .texto-secundario1{
        width: auto;
        margin: 10px;
    }

    .texto-secundario2{
        width: auto;
        margin: 10px;
    }

    .texto-secundario3{
        width: auto;
        margin: 10px;
    }

    
    form{
        width: 350px;
    }

    .titulo-seccion{
        font-size: 50px;
    }

    .contenedor-tienda{
        flex-direction: column;
        align-items: center;
    } 

    .tabla1, .tabla2, .tabla3{
        width: 300px;
        margin: 10px;
    }

    .redes-sociales li a img{
        width: 50px;
    }

}  

@media screen and (max-width:500px) {

    .menu-navegacion{
        height: auto;
    }

    .enlaces li{
        font-size: 60%;
        display: flex;
    }

    .logo{
        height: 100px;
    }

    .texto-principal h1{
        font-size: 40px;
    }

    .texto-principal h2{
        font-size: 30px;
    }
        
    .texto-principal a{
        font-size: 15px;
    }

    .contenedor-secundario{
        font-size: 15px;
        flex-direction: column;
        align-items: center;
    }

    .texto-secundario1, .texto-secundario2, .texto-secundario3{
        width: 300px; 
    }

    form{
        width: 250px;
    }

    .titulo-seccion{
        font-size: 40px;
    }

    .tabla1, .tabla2, .tabla3{
        width: 80%;
    }

}
@media screen and (max-width:400px) {

    .contenedor-secundario{
        padding: 20px 0px 20px 0px;
    }

    .texto-secundario1, .texto-secundario2, .texto-secundario3{
        width: 220px;
        
    }

    form{
        width: 200px;
    }

    .direccion{
        font-size: 70%;
    }
    
    #mapa{
        width: 220px;
    }

    .redes-sociales li a img{
        width: 40px;
    }
}
